@{
    Layout = "~/_Layout.cshtml";

    
    var width = 0;
    var depth = 0;
    var numDrawers = 0;
    var material = "";
    var rushOrder = "";
    var customerName = "";
    var date = DateTime.Now;

    
    var quoteId = "";

    if (!IsPost)
    {
        if (!Request.QueryString["Id"].IsEmpty() && Request.QueryString["Id"].IsInt())
        {
            quoteId = Request.QueryString["Id"];
            var db = Database.Open("MegaDeskWeb");
            var dbCommand = "SELECT * FROM DeskQuote WHERE ID = @0";
            var row = db.QuerySingle(dbCommand, quoteId);

            if (row != null)
            {
                width = row.width;
                depth = row.depth;
                numDrawers = row.numDrawers;
                material = row.material;
                rushOrder = row.rushOrder;
                customerName = row.customerName;
                // date?
            }
            else
            {
                Validation.AddFormError("No quote was selected.");
            }
        }
        else
        {
            Validation.AddFormError("No quote was selected.");
        }
    }

   

    if (IsPost && !Request["deleteQuote"].IsEmpty())
    {
        quoteId = Request.Form["quoteId"];
        var db = Database.Open("MegaDeskWeb");
        var deleteCommand = "DELETE FROM DeskQuote WHERE ID = @0";
        db.Execute(deleteCommand, quoteId);
        Response.Redirect("~/ViewQuotes");
    }
}
<!DOCTYPE html>
<html class="addQuote">
<head>
    <title></title>
</head>
<body class="AddQuoteBody">

    <form method="POST">
        <label for="customerName">Customer Name:</label>
        <input type="text" name="customerName" readonly disabled value="@customerName" />
        <br />

        <p>Size of Desk</p>
        <label for="width">Width:</label>
        <input type="number" name="width" readonly disabled min="24" max="96" value="@width" />
        
        <br />
        <br />
        <label for="depth">Depth:</label>
        <input type="number" name="depth" readonly disabled min="12" max="48" value="@depth" />
       
        <br />
        <br />
        <label for="numDrawers">Number of Drawers:</label>
        <input type="number" name="numDrawers" min="0" max="20" readonly disabled value="@numDrawers" />
        
        <br />
        <br />

        <label for="material">Material:</label>
        <select name="material" readonly disabled value="@material">
            <option value="laminate">Laminate</option>
            <option value="oak">Oak</option>
            <option value="rosewood">Rosewood</option>
            <option value="veneer">Veneer</option>
            <option value="pine">Pine</option>
        </select>
     
        <br />
        <br />

        <label for="rushOrder">Rush Order Options:</label>
        <select name="rushOrder" readonly disabled value="@rushOrder">
            <option value="none">No Rush</option>
            <option value="three">Three-Day Rush</option>
            <option value="five">Five-Day Rush</option>
            <option value="seven">Seven-Day Rush</option>
        </select>
        
        <br />
        <br />

        <input type="hidden" name="quoteid" value="@quoteId" />
        

        <input type="hidden" name="date" value="@DateTime.Now" />

        <input type="submit" name="deleteQuote" value="Delete"  />

    </form>

    <div class="quoteButton">
        <a href="~/ViewQuotes.cshtml" class="button">Back</a>
        <br />
        <a href="~/SearchQuotes.cshtml" class="button">Search Quotes</a>
        <br />
        <a href="~/MegaDeskWeb.cshtml" class="button">Home</a>
    </div> <!-- quoteButton -->

</body>
</html>